name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 1
        submodules: true
    - name: Install LLVM toolchain
      run: |
        sudo apt-get update
        sudo apt-get install -y wget software-properties-common lsb-release gnupg
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 19
        sudo apt-get install -y libc++-19-dev libc++abi-19-dev
        sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-19 100
        sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-19 100
        rm llvm.sh
    - name: make
      run: make
    - name: make test
      run: make test
